<nav class="js-lp-navbar lp-header__navbar lp-navbar lp-navbar--overlay rm-background is-fixed is-mobile-menu-active" style="">
    <!-- <div class="lp-navbar__container lp-container">
        <a class="lp-navbar__item lp-navbar__item--logo" href="/">
            <div class="lp-navbar__logo lp-logo lp-logo--light" data-track-clicks="logo" data-track-category="navigation_button">
                <img alt="WWideEuorope" src="..//assets/logo.png">
            </div>
        </a> 
    </div> -->
    <div class="js-lp-mobile-menu lp-mobile-menu-wrapper">
        <div class="lp-navbar__item lp-navbar__item--icon" (click)="toggleNav()">
            <div class="js-menu-icon lp-navbar__icon" data-track-category="navigation_button" data-track-clicks="hamburger">
                <img alt="Menu icon" src="//cdn2.editmysite.com/images/landing-pages/global/shared/navbar/sandwich.svg">
            </div>
        </div>
        <div class="lp-navbar__logo-small lp-logo lp-logo--small lp-logo--light">
            <a href="/">
                <img alt="WWideEuorope" height="40" src="..//assets/logo.png">
            </a>
        </div>
        
        <nav class="lp-mobile-menu lp-nav" style="display: none;" [class.active]="isDropdownOpen">
            <div class="js-nav-link-wrapper">
                <a class="js-nav-link lp-mobile-menu__item lp-nav__item" href="/about_us">About Us</a>
                <a class="js-nav-link lp-mobile-menu__item lp-nav__item" href="/projects">Our Projects</a>
                <a class="js-nav-link lp-mobile-menu__item lp-nav__item" href="/partners">Partners</a>
                <a class="js-nav-link lp-mobile-menu__item lp-nav__item" href="/clients">Clients</a>
                <a class="js-nav-link lp-mobile-menu__item lp-nav__item" href="/contact">Contact Us</a>
            </div>
        </nav>
    </div>
</nav>


