@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.icon {
    display: inline-block;
    vertical-align: top;
    font-family: 'w-icons';
    font-size: 32px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon--large {
    font-size: 64px
}

.icon--x-large {
    font-size: 96px
}

[data-icon-before]:before,[data-icon-after]:after {
    color: #9ba0a3;
    transition: color 0.2s ease-in-out
}

[data-icon-before]:hover:before,[data-icon-after]:hover:after {
    color: #666c70
}

[data-icon-before]:before {
    display: inline-block;
    vertical-align: top;
    font-family: 'w-icons';
    font-size: 32px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    content: attr(data-icon-before)
}

[data-icon-after]:after {
    display: inline-block;
    vertical-align: top;
    font-family: 'w-icons';
    font-size: 32px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    content: attr(data-icon-after)
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-feature-settings: "kern","liga","pnum";
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-size: 18px
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

b,strong {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

html {
    box-sizing: border-box
}

*,*::after,*::before {
    box-sizing: inherit
}

.grid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    zoom:1;-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    letter-spacing: -0.31em !important;
    letter-spacing: normal !important;
    word-spacing: -0.43em !important;
    list-style-type: none
}

.grid *:before,.grid *:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal
}

.grid * {
    box-sizing: border-box
}

.grid *:before,.grid *:after {
    box-sizing: border-box
}

[class*="grid__col-"] {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    zoom:1;-ms-flex-direction: column;
    flex-direction: column;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 10px
}

.grid__cell {
    position: relative;
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (min-width: 992px) {
    .grid__col-md-2 {
        width:16.66667%;
        width: 16.56667%
    }
}

.btn,button,input[type="button"],input[type="reset"],input[type="submit"] {
    position: relative;
    padding: 0 20px;
    font-family: "brandon-grotesque","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,margin-left .2s ease-in-out,margin-right .2s ease-in-out,box-shadow .2s ease-in-out;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #2990ea;
    box-shadow: inset 0 0 0 1px #2990ea;
    border-radius: 2px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.btn:hover,button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
    box-shadow: inset 0 0 0 1px #9ba0a3
}

.btn--secondary {
    font-weight: 400;
    color: #666c70
}

input,select,textarea,.input,.select,.textarea {
    box-sizing: border-box;
    color: #666c70;
    background-color: #fff;
    border: 1px solid #c9cdcf;
    border-radius: 2px;
    transition: border .2s ease-in-out,background-color .2s ease-in-out,color .2s ease-in-out
}

input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],input:not([type]),textarea {
    padding: 9px 20px;
    width: 100%
}

input[type="color"]::-webkit-input-placeholder,input[type="date"]::-webkit-input-placeholder,input[type="datetime"]::-webkit-input-placeholder,input[type="datetime-local"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder,input[type="month"]::-webkit-input-placeholder,input[type="number"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder,input[type="search"]::-webkit-input-placeholder,input[type="tel"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder,input[type="time"]::-webkit-input-placeholder,input[type="url"]::-webkit-input-placeholder,input[type="week"]::-webkit-input-placeholder,input:not([type])::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #9ba0a3;
    transition: color .2s ease-in-out
}

.group {
    display: block;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #c9cdcf;
    transition: border .2s ease-in-out,margin .2s ease-in-out
}

.group__item {
    position: relative;
    padding: 0 20px;
    margin-bottom: 0;
    color: #666c70;
    transition: background .2s ease-in-out,opacity .2s ease-in-out
}

.group__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 20px);
    height: 1px;
    background: #e5e5e5
}

.group__item:last-of-type::after {
    content: none
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0
}

p {
    margin: 0 0 .75em
}

a {
    color: #2990ea;
    text-decoration: none;
    transition: color 0.1s linear
}

a:active,a:focus,a:hover {
    color: #1269b5;
    cursor: pointer
}

a:active,a:focus {
    outline: none
}

[data-icon-before]:before,[data-icon-after]:after {
    color: #9ba0a3;
    transition: color .2s ease-in-out
}

[data-icon-before]:hover:before,[data-icon-after]:hover:after {
    color: #666c70
}

[data-icon-after]:after {
    display: inline-block;
    vertical-align: top;
    font-family: 'w-icons';
    font-size: 32px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    content: attr(data-icon-after)
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,.slick-slider .slick-list {
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.slick-track:before,.slick-track:after {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir="rtl"] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}
.spinner {
    animation: spin 1s infinite linear;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    overflow: hidden
}

.spinner::before {
    background: linear-gradient(to bottom, #2990ea 0%, rgba(41,144,234,0.5) 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%
}

.spinner::after {
    background: linear-gradient(to top, rgba(41,144,234,0.5) 0%, rgba(41,144,234,0) 100%);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%
}

.spinner__bg {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: calc(100% - (2px * 2));
    height: calc(100% - (2px * 2));
    background: #fff;
    border-radius: 100%
}

.btn {
    padding: 5px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: rgba(0,0,0,0.1) 0 2px 6px;
    transition: background .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out,transform .2s ease-in-out
}

.btn:hover {
    transform: translateY(-2px);
    color: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 15px 40px
}

@media (min-width: 62em) {
    .btn {
        padding:0 30px
    }
}

.btn--secondary {
    color: #2990ea;
    font-weight: 600;
    background: transparent;
    box-shadow: inset 0 0 0 1px #2990ea
}

.btn--secondary:hover {
    transform: translateY(0);
    color: #fff;
    background: #2990ea;
    box-shadow: inset 0 0 0 1px #2990ea
}

.btn--outline {
    color: #fff;
    background: transparent;
    box-shadow: inset 0 0 0 2px #fff
}

.btn--outline:hover {
    transform: translateY(0);
    color: #2990ea;
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff
}

.social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.social__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 0 5px;
    color: #9ba0a3;
    line-height: 45px;
    border-radius: 100%;
    background: rgba(155,160,163,0.12);
    transition: background 0.2s ease-in-out,color 0.2s ease-in-out
}

.social__item:hover {
    color: #9ba0a3;
    background: rgba(155,160,163,0.25)
}

.social__icon {
    display: block
}

.social__icon path {
    fill: currentColor
}

.link {
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer
}

@font-face {
    font-family: 'w-icons';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url("/components/ui-framework/fonts/w-icons/w-icons.woff?123597") format("woff")
}

.lp-header {
    position: relative;
    height: 550px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.lp-header__navbar{
    background: transparent;
    border: unset;
    z-index: 999;
}

.lp-header__container {
    width: calc(100% - 40px);
    max-width: 1120px;
    margin: auto;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 380px
}



.lp-header__content {
    text-align: center
}

@media (min-width: 64em) {
    .lp-header__content {
        text-align:left
    }
}

.lp-header__title+.lp-header__paragraph {
    margin-top: 0
}

.lp-header--blue {
    background-color: #2990ea
}

.lp-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@font-face {
    font-family: SQMarket;
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url("/fonts/SQ_Market/sqmarket-regular.woff2") format("woff2"),url("/fonts/SQ_Market/sqmarket-regular.woff") format("woff")
}

@font-face {
    font-family: SQMarket-Medium;
    font-style: normal;
    font-display: fallback;
    font-weight: 500;
    src: url("/fonts/SQ_Market/sqmarket-medium.woff2") format("woff2"),url("/fonts/SQ_Market/sqmarket-medium.woff") format("woff")
}

.lp-navbar-spacer {
    height: 70px
}

@media (min-width: 992px) {
    .lp-navbar-spacer {
        height:80px
    }
}

.lp-navbar-spacer.cyber-monday-banner {
    height: 134px
}

@media (min-width: 992px) {
    .lp-navbar-spacer.cyber-monday-banner {
        height:144px
    }
}

body:not(.no-scroll) #homepage .lp-navbar.rm-background:not(.is-fixed):not(.is-mobile-menu-active) {
    background-color: transparent
}


.lp-navbar {
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    width: 100%;
    transition: background-color 0.2s ease-in;
    top: 0;
    position: fixed;
    left: 0
}

.lp-navbar.no-sticky-header {
    position: absolute
}

.lp-navbar #sign-up-button {
    border: 1px solid #3374FF;
    border-radius: 4px;
    color: #3374FF;
    font-size: 16px;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
    box-shadow: none;
    letter-spacing: initial;
    text-transform: none;
    height: 40px;
    padding: 0;
    width: 123px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.lp-navbar #sign-up-button:hover {
    background: #E6EEFF
}

.lp-navbar #sign-up-button:active {
    background: #CCDCFF
}


.lp-navbar .lp-nav {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.lp-navbar .lp-nav a {
    font-size: 16px;
    font-weight: 500;
    display: flex
}

.lp-navbar .lp-nav a:first-of-type {
    margin-left: 0
}

@media (max-width: 1023px) {
    .lp-navbar .lp-nav a {
        font-size:14px
    }
}

.lp-navbar .lp-nav:not(.lp-mobile-menu) a {
    margin: 0 8px
}

.lp-navbar .lp-nav__item-more img {
    margin-left: 5px
}

.lp-navbar.rm-background .lp-nav>a {
    color: #2F3337
}


.lp-navbar__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16px
}

.lp-navbar__logo img {
    height: 42px;
    width: 200px
}


.lp-navbar #domains-search {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #2F3337;
    font-size: 16px;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
    margin-left: auto;
    margin-right: 48px
}

.lp-navbar #authentication-nav {
    margin-left: auto
}


.lp-navbar__item--actions {
    display: flex;
    align-items: center
}

.lp-navbar__item--actions #login-button {
    color: #2F3337;
    font-size: 16px;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
    margin-right: 16px
}

.lp-navbar__item--actions-logged {
    margin-left: auto
}

.lp-navbar .lp-mobile-menu-wrapper {
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    height: 72px;
    margin: auto auto auto 50px;
    transition: background 0.75s cubic-bezier(0.19, 1, 0.22, 1),box-shadow 0.75s cubic-bezier(0.19, 1, 0.22, 1)
}


.lp-navbar__item {
    z-index: 2
}

.lp-navbar__item--icon {
    display: block !important;
    position: absolute;
    top: 20px;
    right: 25px;
}

.lp-navbar__icon {
    margin-top: 9px
}


.lp-navbar__logo-small {
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    color: #3374FF;
    z-index: 1
}


.lp-navbar .lp-mobile-menu {
    /* display: none; */
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 73px;
    left: 0;
    height: 100vh
}

.lp-navbar .lp-mobile-menu .js-nav-link-wrapper {
    max-width: 300px;
    margin: auto;
    margin-top: 0px;

}

.lp-navbar .lp-mobile-menu__item {
    padding: 20px 0;
    border-bottom: 1px solid #E5E5E5;
    color: #323B44;
    transition: color .2s ease-in-out
}

.lp-navbar .lp-mobile-menu__more {
    margin: auto;
    max-width: 300px;
    position: relative;
    font-size: 14px
}

.lp-navbar .lp-mobile-menu__more::after {
    display: inline-block;
    vertical-align: top;
    font-family: 'w-icons';
    font-size: 32px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "downarrowsmall";
    position: absolute;
    top: 10px;
    right: 10px;
    color: #2F3337;
    transition: color .2s ease-in-out,transform .2s ease-in-out
}





.lp-navbar #sign-up-button {
    margin-left: auto;
    z-index: 2
}


.lp-navbar .mobile-sidebar__wrapper {
    width: 300px;
    margin: 40px auto auto
}

.lp-navbar .mobile-sidebar__wrapper a {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    text-transform: none;
    letter-spacing: normal;
    font-size: 14px;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
    box-shadow: none
}

.lp-navbar .mobile-sidebar__wrapper a:hover {
    box-shadow: none;
    transform: none
}

.lp-navbar .mobile-sidebar__login {
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #3374FF;
    height: 40px;
    color: #3374FF;
    margin-bottom: 16px
}

.lp-navbar .mobile-sidebar__signup.btn {
    display: none;
    width: 100%;
    height: 40px;
    background: #3374FF;
    border-radius: 4px;
    color: #FFFFFF
}



.domain-search-icon {
    padding-top: 5px;
    padding-left: 10px
}


.app-center .masthead__content {
    height: auto
}

.cyber-monday-banner-container {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #d14500;
    height: 64px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;
    position: relative
}

.cyber-monday-banner-container:hover {
    text-decoration: none
}

.cyber-monday-banner-container .cyber-monday-banner-text {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 300px
}

@media (min-width: 375px) {
    .cyber-monday-banner-container .cyber-monday-banner-text {
        width:326px;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width: 479px) {
    .cyber-monday-banner-container .cyber-monday-banner-text {
        width:420px
    }
}

@media (min-width: 717px) {
    .cyber-monday-banner-container .cyber-monday-banner-text {
        width:420px;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (min-width: 1023px) {
    .cyber-monday-banner-container .cyber-monday-banner-text {
        width:700px;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-deal-statement {
    letter-spacing: 1.5px;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

@media (min-width: 375px) {
    .cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-deal-statement {
        letter-spacing:2px
    }
}

@media (min-width: 1023px) {
    .cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-deal-statement {
        margin-right:0
    }
}

.cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-deal-details-section {
    display: none
}

@media (min-width: 1023px) {
    .cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-deal-details-section {
        display:inline-block
    }
}

.cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-cta {
    text-decoration: underline;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    letter-spacing: 0
}

@media (min-width: 717px) {
    .cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-cta {
        position:absolute;
        right: 0
    }
}

@media (min-width: 1023px) {
    .cyber-monday-banner-container .cyber-monday-banner-text .cyber-monday-banner-cta {
        position:static
    }
}

#homepage .lp-section--flush-bottom,.mobile .lp-section--flush-bottom {
    margin: 0;
    padding-top: 80px;
    background: #fff
}


.lp-section {
    position: relative;
    margin: 80px 0;
    background-position: 50% 50%;
    background-size: cover
}

.lp-section--flush-bottom {
    margin-bottom: 0
}

.lp-section__container {
    width: calc(100% - 40px);
    max-width: 1120px;
    margin: auto
}

@media (min-width: 64em) {
    .lp-section__container {
        width:calc(100% - 80px)
    }
}

.icon.access__logo {
    font-size: 62px
}

.access-form__footer .btn--cta-primary {
    text-transform: uppercase
}

.access-form__msg {
    font-size: 16px
}

.access__footer .wsite-social-item {
    line-height: 40px
}

.section-text {
    color: #1B2126;
    font-size: 16px;
    font-family: SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 28px
}


.customer-success .text-container .section-text {
    margin-bottom: 40px;
    padding: 0 16px
}

@media (min-width: 717px) {
    .customer-success .text-container .section-text {
        margin-bottom:56px
    }
}

.customer-success .image-container {
    line-height: 0
}

.customer-success .image-container picture {
    display: inline-block
}

.customer-success .image-container img {
    height: auto;
    width: 100%
}

.customer-success .cta-section {
    background-color: #F5F6F7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 255px
}

@media (min-width: 1023px) {
    .customer-success .cta-section {
        height:303px
    }
}


.customer-success .cta-section .main-cta {
    display: block;
    margin: 32px auto 0;
    width: 233px;
    height: 40px;
    line-height: 40px;
    background: #3374FF;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: SQMarket-Medium,SQMarket,"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0;
    transition: background-color 0.25s ease-in-out,color 0.25s ease-in-out
}

.customer-success .cta-section .main-cta:hover {
    background: #144dc7
}

html {
    background-color: #161b1f
}

.top_nav_show{
    display: block !important;
    overflow: hidden;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    animation: navopen .5s ;
}
@keyframes navopen {
    0%{
        height: 0vh;
    }
    25%{
        height: 25vh;
    }
    50%{
        height: 50vh;
    }
    75%{
        height: 75vh;
    }
    100%{
        height: 100vh;
    }

}

@media (min-width: 1024px) {
    .lp-mobile-menu.lp-nav{
        display: block;
    }
}
nav.lp-mobile-menu.lp-nav.active {
    display: block !important; 
}


/* saran styles */

/* header styles */
.header{ 
	padding:37px 0 20px 0;
	position:absolute; 
	width:100%; 
	z-index:1001;
	top:0;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#subbanner, #map, #project-banner {
	margin:130px 0 0 0 
}

.header .logo{ 
	/* display:none;	 */
}

 .header{ 
	
}
 .header .logo{ 
	display:block;
	
}
 .header .logo-subpage{ 
	display:none;	
}
.header .logo{ float:left;margin-top: 9px;}

.header .logo-subpage{ 
	margin:5px 0 0 0;
	display:inline-block
}
.header .logo-subpage img{ max-height:116px;}

.header .headicon{ 
	float:right; 
	background:rgba(0, 0, 0, 0.58); 
	width:59px; 
	height:59px; 
	color:#fff; 
	font-size:18px; 
	margin:0 0 0 10px;
	text-align:center;
	line-height:38px;
	border-radius:100% ;
}
 .header .headicon{ 
	background:rgba(255, 255, 255, 0.78); 
	color:#222; 
	margin-top:6px;
}
.header .headicon i{ 
	height:59px; 
	line-height:59px;
	width:59px;
	font-size: 24px;
}
.header .headicon:hover{ 
	background:#000; 
}
 .header .headicon:hover{ 
	background:#fff; 
}

.searchform{
	position:absolute;
	right:65px;
	top:0;
	z-index:1;
	display:none
}
.searchform input[type=search]{
	background:#ddd; 
	border:none;
	width:300px; 
	height:59px;
	border-radius:10px;
	padding: 0 20px	
}
 .searchform{ top:6px;}
 .searchform input[type=search]{
	background:#fff; 
}

.header.smallhead .searchform { top: 2px;}



.header.smallhead {
position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    left: 0;
    right: 0;
    padding: 12px 0;
    box-shadow: -1px -2px 7px #000;
}
 .header.smallhead {
    background: rgba(64, 64, 64, 0.97);
}

.header.smallhead .headicon{ margin-top:2px;}

.header.smallhead .logo, .header.smallhead .logo-subpage {
	margin-top:0;
}

 .header .container {
    max-width: 1490px;
}
.container {
    margin: 0 auto;
    max-width: 1135px;
    position: relative;
}
@media (max-width: 1150px) {
    .container {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        max-width: none !important;
    }
}@media (max-width: 1490px) {
     .header .container {
        max-width: 1300px;
    }
}@media (max-width: 1369px) {
     .header .container {
        max-width: 1140px;
    }
}@media (max-width: 1250px) {
     .header .container {
        max-width: 1003px;
    }
}@media (max-width: 767px) {
    .header .logo, .header .logo-subpage {
        max-width: 150px;
        margin-top: 7px;
    }
     .header .headicon {
        margin-top: 0;
    }
    .header .headicon {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }.header .headicon i {
        height: 40px;
        line-height: 40px;
        width: 40px;
        font-size: 18px;
    }     .searchform {
        top: -10px;
    }    .searchform {
        top: -10px;
        right: 50px;
    }
}
 .header .logo {
    display: block;
}.header .logo {
    float: left;
    margin-top: 9px;
}.fadeInLeft {
    animation-name: fadeInLeft;
}
.fadeInRight {
    animation-name: fadeInRight;
}
.fadeInUp {
    visibility: visible;
    animation-name: fadeInUp;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}img {
    max-width: 250px;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* navigation styles */

.navigation{ 
	position:fixed;  
	right:0; top:0; 
	background:rgba(33, 33, 33, 0.90); 
	z-index:1110; 
	display:none;
	height:100vh;
	padding:21px 0 0 0;
	width:325px;
}

.navigation .nav-btn-close{ 
	width: 28px;
    height: 38px;
	float:right;
    color: #c8cacc;
	margin:0 30px;
}
.navigation .nav-btn-close i{  
	width:38px; 
	height:38px; 
	font-size:33px;
}
.navigation ul  {
	padding:60px 0 0 0;
}
.navigation ul ul  {
	padding-top:0;
	display:none;
	margin: -5px 0 13px 0;
}
.navigation ul .fa-chevron-down  {
	content: "\f107";
	font-family:'FontAwesome';
	line-height: 30px; 
	font-size:16px; 
	text-align:center;
	display: block; 
	height: 30px; 

	position: absolute; 
	right: 10px; 
	top: 12px;
	cursor:pointer;
	width: 30px; 
	z-index:1;
	color:#fff
}
.navigation ul .fa-chevron-down:hover  {
	background:#111;
}
.navigation ul li {
	border-bottom:solid 1px #383838;
	position:relative
}
.navigation ul li:hover {
	background:#000
}
.navigation ul li a{  
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	font-family:'MS300';
	display:block;
}
.navigation ul li > a{  
	padding:18px 30px;
}

.navigation ul ul  {
	padding-top:0;
}
.navigation ul ul li {
	border-bottom:none
}
.navigation ul ul li > a{  
	padding:15px 40px;
	font-size:14px;
}

.navigation ul li:hover {
	background:#111
}
.navigation ul li a{  
	text-transform:uppercase;
	color:#fff;
	font-family:'MS300';
	display:block;
}
.hide{
    display: none;
}
.openMenu{
    display: block;
}
.show{
    display: block !important;
}
.dropdownlist{
    transition: 2s ;
}