footer {
    background: #2e3538;
    padding: 30px 0 26px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    max-width: 1135px;
    position: relative;
}
footer .links {
    padding: 0 0 27px 0;
}
footer .links li {
    display: inline-block;
}

ul li {
    list-style: none;
}
footer .links li a {
    text-decoration: none;
    color: #fff;
    border-right: solid 1px #ccc;
    padding: 0 15px 0 0;
    margin: 0 14px 0 0;
}
footer .credits {
    font-size: 13px;
    color: #ccc;
}
footer .name {
    padding: 15px 0 5px 0;
    color: #ccc;
}
.fadeInUp {
    visibility: hidden;
    /* animation-name: fadeInUp; */
}
.animated {
    visibility: visible;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media (max-width: 1150px) {
    .add-container {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        max-width: none !important;
    }
}
.add-container {
    margin: 0 auto;
    max-width: 1135px;
    position: relative;
}
.branches {
    margin: 0 -30px;
    min-height: 180px;
}
.branches li {
    display: inline-block;
    padding: 0 30px;
    margin: 0 0 30px 0;
    width: 32.5%;
    vertical-align: top;
    text-align: start   ;
}

ul li {
    list-style: none;
}
.branches h5 {
    font-size: 19px;
    margin: 0 0 10px;
}
#subpage .branches li p {
    font-size: 14px;
    line-height: 24px;
    min-height: 150px;
}
body h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    }
    
    body ul li{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    }
     p,a,div{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        line-height: 26px;
    }