<footer>
    <div class="add-container fadeInUp">
        <ul class="branches">
            <li>
                <h5>Dubai Office</h5>
                <p><span>Down Town Dubai
                </span><br><span>48 Burj Gate, Office 2024, 20 Floor</span><br><span>Dubai, UAE</span><br><span>Tel: +971 4 3808325 Fax: +971 4 3808902</span><br><a
                        href="mailto:qatar@target.com.qa"></a></p>

            </li>
            <li>
                <h5>Fujairah Office </h5>
                <p>Fujairah Freezone II <br>Office No: 20, Block -A<br>Fujairah, UAE<br>Tel: +971 9 2220577 Fax: +971 9 2220427
                    <a href="mailto:qatar@target.com.qa"></a></p>
            </li>
        </ul>
    </div>
    <div class="container wow fadeInUp">

        <ul class="links">
            <li><a href="/">Home</a></li>


            <li><a href="/about-us/">About Us</a></li>
            <li><a href="/our-bussiness/">Our Bussiness</a></li>
            <li><a href="/our-bussiness/">Projects</a></li>
            <li><a href="/partners/">Partner</a></li>
            <li><a href="/contact/">Contact Us</a></li>

        </ul>

        <div class="credits">
            <a href="/" class="logo-footer"><img src="/assets/logo.png" alt="" width="100"></a>
            
            <div class="name"></div>
            <div class="copyrights">© 2024 Wwideeurope, Inc</div>
        </div>

    </div>
</footer>