<app-header></app-header>
<section id="subbanner">
  <img src="../..//public/assets/bussinessbanner.png" alt="">
  <div class="container">
    <div class="cont">
      <h5></h5>
      <h2>Our Bussiness</h2>
    </div>
  </div>
</section>
<ul class="cap-list">
    <li><a href="/marketing-sales-of-plant-equipment/"><img src="../..//public/assets/markettingbanner.png" alt=""><h3>Marketing & Sales of plant equipment</h3></a></li>
    <li><a href="/engineering-design-consultancy/"><img src="../..//public/assets/engineeringdesignbanner.png" alt=""><h3>Engineering Design Consultancy</h3></a></li>
    <li><a href="/turbine-maintenance-and-overhauling/"><img src="../..//public/assets/turbinebanner.png" alt=""><h3>Turbine Maintenance and Overhauling</h3></a></li>
    <li><a href="/spare-parts-support/"><img src="../..//public/assets/sparepartsbanner.png" alt=""><h3>Spare Parts Support</h3></a></li>
</ul>

<app-footer></app-footer>