<app-header></app-header>
<section id="subbanner">
  <img src="/assets/bussinessbanner.png" alt="">
  <div class="container">
      <div class="cont">
          <h5></h5>
          <h2>Our Bussiness</h2>
      </div>
  </div>
</section>
<ul class="cap-list">
    <li class="fadeInUp"><a href="/marketing-sales-of-plant-equipment/"><img src="/assets/markettingbox.png" alt=""><h3>Marketing & Sales of plant equipment</h3></a></li>
    <li class="fadeInUp"><a href="/engineering-design-consultancy/"><img src="/assets/engineeringdesignbox.png" alt=""><h3>Engineering Design Consultancy</h3></a></li>
    <li class="fadeInUp"><a href="/turbine-maintenance-and-overhauling/"><img src="/assets/turbinebox.png" alt=""><h3>Turbine Maintenance and Overhauling</h3></a></li>
    <li class="fadeInUp"><a href="/spare-parts-support/"><img src="/assets/sparepartsbox.png" alt=""><h3>Spare Parts Support</h3></a></li>
</ul>

<app-footer></app-footer>