<app-header></app-header>
<section id="subbanner">
    <img src="../..//public/assets/markettingbanner.png" alt="">
    <div class="container">
        <div class="cont">
            <h5></h5>
            <h2>Marketing & Sales of plant equipment</h2>
        </div>
    </div>
</section>
<div id="secondary-nav">
    <div class="container fadeInUp">
        <a href="#." class="subtrigger"><span>☰</span> Explore</a>
        <ul><li class="active"><a href="/marketing-sales-of-plant-equipment/">Marketing & Sales of plant equipment</a></li>
                <li><a href="/engineering-design-consultancy/">Engineering Design Consultancy</a></li>
                <li><a href="/turbine-maintenance-and-overhauling/">Turbine Maintenance and Overhauling</a></li>
                <li><a href="/spare-parts-support/">Spare Parts Support</a></li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="sub-page" style="padding: 50px 200px;">
    
    <p class="contents fadeInUp">With a multi-disciplinary attitude, WIT works in many activities regarding civil and industrial engineering, providing expert technical support and professional services in different areas of expertise and sectors.
    </p>
    
    <br>
    <p class="contents fadeInUp">
        Our services cover a wide range of applications from supply of electro-mechanical products, spare parts, design of entire plants or components, maintenance  of equipment and assistance on site during the design and  construction. 

    </p>
    <br><br><br>
    <p class="contents fadeInUp">
        <b>Sales of Plant Equipment:</b> Providing expert advice to help clients select the most suitable equipment for their specific needs, considering factors such as operational requirements, budget constraints, and industry-specific challenges.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>Product Consultation:</b> Leveraging our industry expertise and global network to identify the best products from trusted manufacturers, ensuring clients receive top-quality equipment at competitive prices.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>Market Analysis and Product Sourcing:</b> Facilitating the procurement of plant equipment from trusted suppliers, ensuring timely delivery and compliance with international quality standards.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>Equipment Sourcing & Procurement:</b> Offering comprehensive after-sales services, including equipment installation, maintenance, and troubleshooting, to ensure the long-term performance of the equipment.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>After-Sales Support: </b> Offering a wide range of industrial plant equipment, including heavy machinery, tools, and systems designed to optimize productivity and safety. We ensure our products meet the highest standards of performance and durability.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>Training & Technical Assistance: </b> Providing training programs for operators and technical staff, ensuring that users can maximize the efficiency and safety of their equipment.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>Spare Parts Supply: </b>Supplying original spare parts for plant equipment, ensuring smooth operation and minimizing downtime.
    </p>
    <br>
    <p class="contents fadeInUp">
        <b>Equipment Inspections and Testing: </b> rigorous inspections and testing to verify equipment quality and performance before delivery, ensuring it meets industry standards and customer specifications.
    </p>
    <br>
</div>
<app-footer></app-footer>