<app-header></app-header>
<section id="subbanner">
    <img src="../..//public/assets/markettingbanner.png" alt="">
    <div class="container">
        <div class="cont">
            <h5></h5>
            <h2>Marketing & Sales of plant equipment</h2>
        </div>
    </div>
</section>
<div id="secondary-nav">
    <div class="container">
        <a href="#." class="subtrigger"><span>☰</span> Explore</a>
        <ul><li class="active"><a href="/marketing-sales-of-plant-equipment/">Marketing & Sales of plant equipment</a></li>
                <li><a href="/engineering-design-consultancy/">Engineering Design Consultancy</a></li>
                <li><a href="/turbine-maintenance-and-overhauling/">Turbine Maintenance and Overhauling</a></li>
                <li><a href="/spare-parts-support/">Spare Parts Support</a></li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="sub-page" style="padding: 50px 200px;">
    <h3 class="page-title" >
        <span>Since </span>
        <span style="color: #186f89;">2005 </span> <br>
         <small>
            Since 2005 Wideurope Group of companies has been providing
            Engineering and Consultancy, Sales Marketing services, and supply of
            spare parts for industries in Europe & Middle East.
     
        </small>
    </h3>
    <p class="contents">Wwideurope FZC is branched out from WEME industrial FZC to full fill
        the needing related to Power, oil & gas, and industries Supplies. We
        represent various European Principles and are always committed to
        providing the best quality services, offering expert technical support and
        professional services in various areas of industrial Supply and
        engineering.
    
    <br><br>
    We offer services that include supplying electro-mechanical products,
    Turbine spare parts and services, Engineering design and consultancy,
    and on-site assistance during design and construction.
   </p>
</div>
<app-footer></app-footer>