<app-header></app-header>

<div class="app-project">
    <div class="project-list">
       <div class="project-content">
           <h3 style="text-align: center;">Project Title</h3>
           <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur asperiores perferendis amet rem eveniet in deserunt quaerat natus. Rerum, accusamus perspiciatis optio neque nesciunt iusto tempora architecto necessitatibus ex.</p>
       </div>
       <div class="project-image">
          <span class="pr-img">
            <img src="..//assets/Creating-Desk-Blue.png" width="400" height="400" alt="poject">
          </span>
       </div>
    </div>
</div>

<app-footer></app-footer>
