<app-header></app-header>
<section id="subbanner">
  <img src="../..//public/assets/contactsbanner.png" alt="">
  <div class="container">
      <div class="cont">
          <h5></h5>
          <h2>Contact Us</h2>
      </div>
  </div>
</section>
<div class="content-section fadeInUp">
    <h1 class="section-title">Contact</h1>
    <p class="section-description">
        We're here to help! If you have any questions, feedback, or need support, feel free to reach out to us using any of the methods below. Our team is dedicated to assisting you and will respond as soon as possible.
    </p>
  </div>

<app-footer></app-footer>