<app-header></app-header>

<!-- banner first fold-->

<section class="main-banner">
    <div class="tp-banner-container">
        <div class="forcefullwidth_wrapper_tp_banner" id="rev_slider_1064_1_forcefullwidth"
            style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px">
            <div id="rev_slider_1064_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                data-alias="photography4export" data-source="gallery"
                style="background-color: transparent; padding: 0px; margin-top: 0px; margin-bottom: 0px; position: absolute; max-height: none; overflow: visible; height: 595px;  left: 0px;">
                <!-- START SLIDER -->
                <div id="rev_slider_1064_1"
                    class="rev_slider fullscreenbanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus"
                    style="max-height: none; margin-top: 0px; margin-bottom: 0px; height: 100%;" data-version="5.4.1"
                    data-slideactive="rs-30110">
                    <ul class="tp-revslider-mainul"
                        style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                        <li class="tp-revslider-slidesli active-revslide"
                            style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                            <!-- MAIN IMAGE -->
                            <div class="slotholder"
                                style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                <div id="img1" class="tp-bgimg defaultimg img1 show" 
                                    style="opacity: 0; background-repeat: no-repeat; background-image: url(..//public/assets/frontone.png); background-size: cover; background-position: center center; width: 100%; height: 100%; visibility: inherit; z-index: 20;"
                                    src="" [class.is-active]="activeElement === 'img1'"></div>
                                <div id="img2" class="tp-bgimg defaultimg img2" 
                                    style="opacity: 0;background-repeat: no-repeat; background-image: url(..//public/assets/fronttwo.png); background-size: cover; background-position: center center; width: 100%; height: 100%; visibility: inherit; z-index: 20;"
                                    src="" [class.is-active]="activeElement === 'img2'"></div>
                                <div id="img3" class="tp-bgimg defaultimg img3" 
                                    style="opacity: 0;background-repeat: no-repeat; background-image: url(..//public/assets/frontthree.png); background-size: cover; background-position: center center; width: 100%; height: 100%; visibility: inherit; z-index: 20;"
                                    src="" [class.is-active]="activeElement === 'img3'"></div>
                                <div id="img4" class="tp-bgimg defaultimg img4" 
                                    style="opacity: 0;background-repeat: no-repeat; background-image: url(..//public/assets/frontfour.png); background-size: cover; background-position: center center; width: 100%; height: 100%;visibility: inherit; z-index: 20;"
                                    src="" [class.is-active]="activeElement === 'img4'"></div>
                            </div>
                            <!-- LAYERS -->

                        </li>

                    </ul>

                    <div class="tp-bannertimer tp-bottom"
                        style="visibility: hidden; width: 3.33333%; transform: translate3d(0px, 0px, 0px);"></div>
                    <div class="tp-loader off" style="display: none;">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div class="tp-bullets hesperiden horizontal nav-pos-hor-center nav-pos-ver-bottom nav-dir-horizontal"
                        style="width: 82.2px; height: 16.8px; top: 100%; transform: matrix(1, 0, 0, 1, -41, -107); left: 50%;">
                        <div class="tp-bullet selected" style="left: 0px; top: 0px;"></div>
                        <div class="tp-bullet" style="left: 21.8px; top: 0px;"></div>
                        <div class="tp-bullet" style="left: 43.6px; top: 0px;"></div>
                        <div class="tp-bullet" style="left: 65.4px; top: 0px;"></div>
                    </div>
                </div>
            </div>
            <div class="tp-fullwidth-forcer" style="width: 100%; height: 595.4px;"></div>
        </div>
    </div>
    <div id="about-home" class="about-home">
        <div class="container wow fadeInUp">
            <h2>Since <strong style="color: #196490;">2005</strong></h2>
            <p style="line-height: 34px;">Since 2005 Wideurope Group of companies has been providing Engineering and Consultancy, Sales Marketing services, and supply of spare parts for industries in Europe & Middle East.&nbsp;<a href="/about-us/" title="About Us">READ
                    MORE</a></p>
        </div>
    </div>
</section>


<!-- second fold -->

<section id="featured-projects" class="wow fadeInUp" style="height:587px">
    <ul id="slider" class="recent-award-carousel slider" style="height: 100%;">
        <li class="itme slide active" style="background-image:url(..//public/assets/target_awards.jpg);height: 100%;" >
            <div class="container">
                <div class="dets">
                    <div>
                        <div>
                            <h4>Marketing & Sales of plant equipment </h4>
                            <h3>Revolutionizing Plant Equipment for Maximum Growth & Efficiency</h3>
                            <p>Empowering industries with innovative, reliable plant equipment solutions that drive growth and efficiency</p>
                            <a href="/our-bussiness/"
                                class="btn btn-white">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>

        </li>
        <li class="itme slide exiting" style="background-image:url(..//public/assets/target_awards.jpg);height: 100%;" >
            <div class="container">
                <div class="dets">
                    <div>
                        <div>
                            <h4>Engineering Design
                                consultancy</h4>
                            <h3>Transforming Ideas into Reality with Expert Engineering Design Solutions</h3>
                            <p>Delivering innovative and customized engineering design solutions to transform ideas into efficient, practical, and sustainable realities</p>
                            <a href="/our-bussiness/"
                                class="btn btn-white">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>

        </li>
        <li class="itme slide exiting" style="background-image:url(..//public/assets/target_awards.jpg);height: 100%;" >
            <div class="container">
                <div class="dets">
                    <div>
                        <div>
                            <h4>Turbine Maintenance and Overhauling</h4>
                            <h3>Expert Turbine Maintenance and Overhauling Solutions</h3>
                            <p>Maximizing turbine efficiency and lifespan with specialized maintenance and overhauling services tailored to your operational needs.</p>
                            <a href="/our-bussiness/"
                                class="btn btn-white">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>

        </li>
        <li class="itme slide exiting" style="background-image:url(..//public/assets/target_awards.jpg);height: 100%;" >
            <div class="container">
                <div class="dets">
                    <div>
                        <div>
                            <h4>Spare parts support</h4>
                            <h3>Reliable Spare Parts Support for Uninterrupted Operations</h3>
                            <p>Ensuring seamless performance with high-quality spare parts and dependable support to keep your operations running smoothly.</p>
                            <a href="/our-bussiness/"
                                class="btn btn-white">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>

        </li>
    </ul>
</section>

<!-- third fold -->
<section id="cap-home" class="wow fadeInUp" >
    <h4>Our Bussiness</h4>
    <div class="container bussiness-box">

        <ul>
                <li>
                    <a href="/marketing-sales-of-plant-equipment/">
                        <img src="..//public/assets/marketingpng.svg" alt=""><span>Marketing</span>
                    </a>
                </li>
                <li>
                    <a href="/engineering-design-consultancy/">
                        <img src="..//public/assets/designpng.svg" alt=""><span>Engineering design</span>
                    </a>
                </li>
                <li>
                    <a href="/turbine-maintenance-and-overhauling/">
                        <img src="..//public/assets/turbinepng.svg" alt=""><span>Turbine maintenance</span>
                    </a>
                </li>
                <li>
                    <a href="/spare-parts-support/">
                        <img src="..//public/assets/sparepartspng.svg" alt=""><span>Spare parts support</span>
                    </a>
                </li>

            <div class="clr"></div>
        </ul>
    </div>
    <a href="/our-bussiness" class="btn btn2">VIEW ALL Our Bussiness</a>
</section>



<app-footer></app-footer>
          
