/* common styles */
* {
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
section{
    padding: 0;
}

/* saran styles */

/* header styles */
.header{ 
	padding:37px 0 20px 0;
	position:absolute; 
	width:100%; 
	z-index:1001;
	top:0;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#subbanner, #map, #project-banner {
	margin:130px 0 0 0 
}

.header .logo{ 
	/* display:none;	 */
}

 .header{ 
	
}
 .header .logo{ 
	display:block;
	
}
 .header .logo-subpage{ 
	display:none;	
}
.header .logo{ float:left;margin-top: 9px;}

.header .logo-subpage{ 
	margin:5px 0 0 0;
	display:inline-block
}
.header .logo-subpage img{ max-height:116px;}

.header .headicon{ 
	float:right; 
	background:rgba(0, 0, 0, 0.58); 
	width:59px; 
	height:59px; 
	color:#fff; 
	font-size:18px; 
	margin:0 0 0 10px;
	text-align:center;
	line-height:38px;
	border-radius:100% ;
}
 .header .headicon{ 
	background:rgba(255, 255, 255, 0.78); 
	color:#222; 
	margin-top:6px;
}
.header .headicon i{ 
	height:59px; 
	line-height:59px;
	width:59px;
	font-size: 24px;
}
.header .headicon:hover{ 
	background:#000; 
}
 .header .headicon:hover{ 
	background:#fff; 
}

.searchform{
	position:absolute;
	right:65px;
	top:0;
	z-index:1;
	display:none
}
.searchform input[type=search]{
	background:#ddd; 
	border:none;
	width:300px; 
	height:59px;
	border-radius:10px;
	padding: 0 20px	
}
 .searchform{ top:6px;}
 .searchform input[type=search]{
	background:#fff; 
}

.header.smallhead .searchform { top: 2px;}



.header.smallhead {
position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    left: 0;
    right: 0;
    padding: 12px 0;
    box-shadow: -1px -2px 7px #000;
}
 .header.smallhead {
    background: rgba(64, 64, 64, 0.97);
}

.header.smallhead .headicon{ margin-top:2px;}

.header.smallhead .logo, .header.smallhead .logo-subpage {
	margin-top:0;
}

 .header .container {
    max-width: 1490px;
}
.container {
    margin: 0 auto;
    max-width: 1135px;
    position: relative;
}
@media (max-width: 1150px) {
    .container {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        max-width: none !important;
    }
}@media (max-width: 1490px) {
     .header .container {
        max-width: 1300px;
    }
}@media (max-width: 1369px) {
     .header .container {
        max-width: 1140px;
    }
}@media (max-width: 1250px) {
     .header .container {
        max-width: 1003px;
    }
}@media (max-width: 767px) {
    .header .logo, .header .logo-subpage {
        max-width: 150px;
        margin-top: 7px;
    }
     .header .headicon {
        margin-top: 0;
    }
    .header .headicon {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }.header .headicon i {
        height: 40px;
        line-height: 40px;
        width: 40px;
        font-size: 18px;
    }     .searchform {
        top: -10px;
    }    .searchform {
        top: -10px;
        right: 50px;
    }
}
 .header .logo {
    display: block;
}.header .logo {
    float: left;
    margin-top: 9px;
}.fadeInLeft {
    animation-name: fadeInLeft;
}
.fadeInRight {
    animation-name: fadeInRight;
}
.fadeInUp {
    visibility: visible;
    animation-name: fadeInUp;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}img {
    max-width: 80px;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* navigation styles */

.navigation{ 
	position:fixed;  
	right:0; top:0; 
	background:rgba(33, 33, 33, 0.90); 
	z-index:1110; 
	display:none;
	height:100vh;
	padding:21px 0 0 0;
	width:325px;
}

.navigation .nav-btn-close{ 
	width: 28px;
    height: 38px;
	float:right;
    color: #c8cacc;
	margin:0 30px;
}
.navigation .nav-btn-close i{  
	width:38px; 
	height:38px; 
	font-size:33px;
}
.navigation ul  {
	padding:60px 0 0 0;
}
.navigation ul ul  {
	padding-top:0;
	display:none;
	margin: -5px 0 13px 0;
}
.navigation ul .fa-chevron-down  {
	content: "\f107";
	
	line-height: 30px; 
	font-size:16px; 
	text-align:center;
	display: block; 
	height: 30px; 

	position: absolute; 
	right: 10px; 
	top: 12px;
	cursor:pointer;
	width: 30px; 
	z-index:1;
	color:#fff
}
.navigation ul .fa-chevron-down:hover  {
	background:#111;
}
.navigation ul li {
	border-bottom:solid 1px #383838;
	position:relative
}
.navigation ul li:hover {
	background:#000
}
.navigation ul li a{  
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	display:block;
}
.navigation ul li > a{  
	padding:18px 30px;
}

.navigation ul ul  {
	padding-top:0;
}
.navigation ul ul li {
	border-bottom:none
}
.navigation ul ul li > a{  
	padding:15px 40px;
	font-size:14px;
}

.navigation ul li:hover {
	background:#111
}
.navigation ul li a{  
	text-transform:uppercase;
	color:#fff;
	
	display:block;
}
.hide{
    display: none;
}
.openMenu{
    display: block;
}
.show{
    display: block !important;
}
.dropdownlist{
    transition: 2s ;
}
#navigation a{
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
/* main banner styles */
.main-banner {
    height: 100vh;
}
.fullscreen-container, .fullwidthbanner-container {
    padding: 0;
    position: relative;
}

.rev_slider_wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
}.rev_slider {
    overflow: hidden;
}

.rev_slider {
    overflow: hidden;
}
.rev_slider {
    position: relative;
    overflow: visible;
}.rev_slider>ul, .rev_slider>ul>li, .rev_slider>ul>li:before, .rev_slider_wrapper>ul, .tp-revslider-mainul>li, .tp-revslider-mainul>li:before, .tp-simpleresponsive>ul, .tp-simpleresponsive>ul>li, .tp-simpleresponsive>ul>li:before {
    list-style: none !important;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: visible;
    overflow-y: visible;
    background-image: none;
    background-position: 0 0;
    text-indent: 0;
    top: 0;
    left: 0;
}
.tp-revslider-mainul, .tp-revslider-slidesli {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}.rev_slider li.tp-revslider-slidesli {
    position: absolute !important;
}
.rev_slider>ul>li, .rev_slider>ul>li:before, .tp-revslider-mainul>li, .tp-revslider-mainul>li:before, .tp-simpleresponsive>ul>li, .tp-simpleresponsive>ul>li:before {
    visibility: hidden;
}.tp-parallax-wrap {
    transform-style: preserve-3d;
}.rev_slider .tp-mask-wrap .tp-caption, .rev_slider .tp-mask-wrap :last-child, .wpb_text_column .rev_slider .tp-mask-wrap .tp-caption, .wpb_text_column .rev_slider .tp-mask-wrap :last-child {
    margin-bottom: 0;
}

@media (max-width: 1250px) {
    .main-banner .heading-two, .main-banner .heading-one, .main-banner .desc {
        margin-top: 0 !important;
    }
}
@media (max-width: 1369px) {
    .main-banner .heading-two, .main-banner .heading-one, .main-banner .desc {
    }
}
@media (max-width: 1490px) {
    .main-banner .heading-two, .main-banner .heading-one, .main-banner .desc {
        margin-left: 30px !important;
        margin-top: 100px !important;
    }
}
.main-banner .heading-one {
    font-size: 55px;
    color: #fff;
    line-height: 55px;
    font-family: 'MS700';
}
.rev_slider .caption, .rev_slider .tp-caption, .tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.rev_slider .caption, .rev_slider .tp-caption {
    position: relative;
    visibility: hidden;
    white-space: nowrap;
    display: block;
    -webkit-font-smoothing: antialiased !important;
    z-index: 1;
}
@media (max-width: 1150px) {
    li .tp-caption {
        margin-left: 3% !important;
    }
}.main-banner .desc {
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    padding-bottom: 10px !important;
}


/* about home */

@media (max-width: 767px) {
    #about-home {
        position: static;
        padding: 35px 0;
    }
}
#about-home {
    padding: 24px 0;
}@media (max-width: 767px) {
    .home .container, .container {
    }
}

@media (max-width: 1150px) {
    .container {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        max-width: none !important;
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}
.container {
    margin: 0 auto;
    max-width: 1135px;
    position: relative;
}@media (max-width: 892px) {
    #about-home h2 {
        border: 0;
        float: none;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 40px;
    }
}

@media (max-width: 1150px) {
    #about-home h2 {
        /* padding-right: 25px; */
        margin-right: 25px;
    }
}
#about-home h2 {
    font-size: 50px;
    color: #212121;
    font-family: 'MS100';
    text-transform: uppercase;
    letter-spacing: -2px;
    padding: 0 40px 0 0;
    margin: 0 40px 0 0;
    float: left;
    border-right: solid 1px #cccccc;
}
h2 {
    font-size: 26px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #000;
    font-family: 'MS700', Arial, Helvetica, sans-serif;
}#about-home h2 strong {
    font-family: 'MS700';
}#about-home p {
    font-size: 17px;
    line-height: 26px;
}

p {
    line-height: 24px;
}#about-home p a {
    font-family: 'MS700';
    color: #196490;
    font-size: 14px;
    text-transform: uppercase;
}

/* second fold */

#featured-projects li {
    background-color: #000;
    background-position: left top;
}.container {
    margin: 0 auto;
    max-width: 1135px;
    position: relative;
}
#featured-projects li .dets {
    float: right;
    margin: 80px 0;
    padding: 64px 40px 90px;
    max-width: 530px;
    width: 100%;
    background: #222222 url(../../../public/assets/tags-img.png) no-repeat 96% 6%;
    box-shadow: 3px 5px 6px 2px #1d1d1d59;
}
#featured-projects li .dets h4 {
    color: #fff;
}

h4 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4b4b4b;
}
#featured-projects li .dets h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 0 10px 0;
}
#featured-projects li .dets p {
    font-size: 15px;
    margin: 0 0 30px 0;
    color: #fff;
}.btn.btn-white {
    color: #fff;
    border-color: #fff;
}
.btn {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    color: #196490;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    padding: 13px 30px 9px;
    text-align: center;
    line-height: 20px;
    font-family: 'MS700';
    border: solid 1px #196490;
}.btn.btn-white:hover {
    background: #fff;
    color: #000 !important;
}
.btn.btn-white {
    color: #fff;
    border-color: #fff;
}.clr, .clear {
    clear: both;
}

/* third fold */
#cap-home {
    padding: 60px 0;
    text-align: center;
}#cap-home h4 {
    padding: 0 0 54px 0;
}#cap-home .container {
    background: url(../../../public/assets/bg-categories.png) repeat-y;
    margin-bottom: 40px;
}#cap-home li {
    width: 25%;
    float: left;
    border: 2px solid #fff;
}#cap-home li a {
    display: block;
    height: 148px;
    padding: 15px 0 0 0;
}#cap-home li span {
    display: block;
    color: #fff;
    font-size: 14px;
}.btn2:hover {
    background: #196490;
    color: #fff;
}
@media (max-width: 480px) {
    #cap-home li {
        width: 100% !important;
    }
}
@media (width: 590px) {
    #cap-home li {
        width: 50%;
    }
}
.tp-bgimg {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute; /* Ensure all images overlap */
    top: 0;
    left: 0;
  }
  
  .show {
    opacity: 1 !important;
  }
  
  .slider {
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 100%; /* Start off-screen */
    width: 100%;
    height: 100%;
    transition: transform 1s ease, left 0s 1s; /* Smooth slide animation */
  }
  
  .slide.active {
    z-index: 99999;
    left: 0; /* Visible position */
    transform: translateX(0); /* Reset any translations */
    transition: transform 1s ease;
  }
  
  .slide.exiting {
    transform: translateX(-100%); /* Slide out to the left */
    transition: transform 1s ease;
  }
  

