<div class="dlp-wrapper">
    <div class="dlp-content"></div>
    <div id="homepage-com-forward">
        <div class="masthead-container is-visible">
            <div id="overlay_region_2"></div>

            <app-header></app-header>


            <!-- Putting this here so that it appears on every landing page -->
            <div class="masthead-image-container img1" [class.is-active]="activeElement === 'img1'">
                <picture class="picture-element">
                    <img class="changeImage" src="../../..//public/assets/frontimg1.jpg" style="height: 700px;"
                        alt="factory background">
                </picture>
            </div>
            <div class="masthead-image-container img2" [class.is-active]="activeElement === 'img2'">
                <picture class="picture-element">
                    
                    <img  src="../../..//public/assets/frontimg2.jpg" style="height: 700px;"
                        alt="wideeurope">
                </picture>
            </div>
            <div class="masthead-image-container img3" [class.is-active]="activeElement === 'img3'">
                <picture class="picture-element">
                    
                    <img  src="../../..//public/assets/frontimg3.jpg" style="height: 700px;"
                        alt="wideeurope">
                </picture>
            </div>
            <div class="masthead-image-container img4" [class.is-active]="activeElement === 'img4'">
                <picture class="picture-element">
                    
                    <img  src="../../..//public/assets/frontimg4.jpg" style="height: 700px;"
                        alt="wideeurope">
                </picture>
            </div>
        </div>

        <div class="themes-container is-visible viewed" data-track-view="view_themes">
            <div class="themes-heading-and-cta">
                <h2>ENGENEERING & CONSULTANCY</h2>
                <p>WWidurope provides ad hoc engineering solutions combining
                    industry-specific experience and consulting competence with
                    proactive local know-how as well as international standards and
                    codes</p>

                <div class="button-container">
                    <a href="/our-bussiness" class="primary-sign-up-button">
                        Our Projects
                    </a>

                </div>
            </div>

            <picture class="themes-image js-unveil is-loaded">
                <img alt="Customizable webpage designs"
                    src="..//public/assets/fourimg.gif">
            </picture>

            <div class="bottom-border"></div>
        </div>
        <div class="user-journey is-visible viewed" data-track-view="view_user_journey">
            <h2 class="section-heading-text">
                A wide range of services and systems for electro-mechanical, machineries, tools and spare parts as well
                as industrial equipment maintenance, engineering design.

            </h2>
            <div class="journey-container">
                <div class="connect-arrow"></div>
                <div class="user-journey-section get-going-container">
                    <div class="journey-icon get-going">
                        <!--?xml version="1.0" encoding="UTF-8"?-->
                        <img width="100px" height="70px" src="../..//public/assets/erg.png" alt="">
                    </div>
                    <div class="text-container">
                        <div class="journey-title">
                            SUPPLY OF SYSTEMS FOR AIR TREATMENT AND ODOR CONTROL
                        </div>
                        <div class="journey-text">
                            Biological Odor Control Unit for Solid Waste Plants.
                        </div>
                        <a href="/our-bussiness" class="journey-cta" >
                            Learn More &gt;
                        </a>
                    </div>
                </div>

                <div class="user-journey-section get-online-container">
                    <div class="journey-icon get-online">
                        <img width="100px" height="70px" src="../..//public/assets/supply.png" alt="">
                    </div>
                    <div class="text-container">
                        <div class="journey-title">
                            SUPPLY OF PROCESS AND AUXILIARY SYSTEMS
                        </div>
                        <div class="journey-text" style="min-height: 96px;">
                            Nitrogen and oxygen generators (PSA) *,Cooling Water System for Compressor Skid, Pumps


                        </div>
                        <a href="/our-bussiness" class="journey-cta sign-up-button__website-intent">
                            Learn More &gt;
                        </a>
                    </div>
                </div>

                <div class="user-journey-section get-selling-container">
                    <div class="journey-icon get-selling">
                        <!--?xml version="1.0" encoding="UTF-8"?-->
                        <img width="100px" height="70px" src="../..//public/assets/burner.png" alt="">
                    </div>
                    <div class="text-container">
                        <div class="journey-title">
                            SUPPLY OF INDUSTRIAL BURNER SYSTEMS
                        </div>
                        <div class="journey-text" style="min-height: 96px;">
                            Circular type duct burners ,computational fluid dynamics (CFD)


                        </div>
                        <a href="/our-bussiness" class="journey-cta sign-up-button__online-store-intent">
                            Learn More &gt;
                        </a>
                    </div>
                </div>

                <div class="user-journey-section get-growing-container">
                    <div class="journey-icon get-growing">
                        <!--?xml version="1.0" encoding="UTF-8"?-->
                        <img width="100px" height="70px" src="../..//public/assets/heatrecovery.png" alt="">
                    </div>
                    <div class="text-container">
                        <div class="journey-title">
                            SUPPLY OF HEAT RECOVERY STEAM GENERATORS (HRSG)
                        </div>
                        <div class="journey-text" style="min-height: 96px;">
                            Once through steam generators (OTSGs) , Incinerators and biomass boilers
                        </div>
                        <a href="/our-bussiness" class="journey-cta sign-up-button__online-store-intent">
                            Learn More &gt;
                        </a>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="business-community is-visible" data-track-view="view_guidance">
            <div class="text-container">
                <p class="section-text-community">
                    Our strategy and vision
                </p>
                <h2 class="section-heading-text">
                    Explore in more detail
                </h2>
            </div>
            <div class="bottom-border"></div>

            <div class="container" data-autoplay="true">
                <div class="slide">
                    <img class="carouselImage"
                    alt="Makers to Merchants: In-person community events for entrepreneurs"
                    src="../../..//public/assets/factory.jpg">
                    <div class="support-description">
                        Factories can produce content in a systematic way, similar to how a factory produces
                        goods. This is called a content factory, and it involves
                    </div>
                    <a href="/blog" class="learn-more"  tabindex="-1">
                    Learn More &gt;
                    </a>
                </div>
                <div class="slide">
                            <img class="carouselImage"
                            alt="Makers to Merchants: In-person community events for entrepreneurs"
                            src="../../..//public/assets/workers.jpg">
                            <div class="support-description">
                                Workers design, develop, and test mechanical devices and systems to ensure they work
                                safely and efficiently. Their work can include:
                            </div>
                            <a href="/blog" class="learn-more" tabindex="-1">
                                Learn More &gt;
                            </a>
                </div>
                <div class="slide">
                        <img class="carouselImage"
                            alt="Makers to Merchants: In-person community events for entrepreneurs"
                            src="../../..//public/assets/ocean.jpg">
                    <div class="support-description">
                        Workers design, develop, and test mechanical devices and systems to ensure they work
                        safely and efficiently. Their work can include:
                    </div>
                    <a href="/guides" class="learn-more"  tabindex="-1">
                        Learn More &gt;
                    </a>
                </div>

                <button class="prev" (click)="prev()"><i class="fa fa-angle-left"></i></button>
                <button class="next" (click)="next()"><i class="fa fa-angle-right"></i></button>


            </div>
            <div class="dots_container" id="indicator">
                <div class="dots" (click)="change(0)" style="background: rgb(189, 189, 189);"></div>
                <div class="dots" (click)="change(1)" style="background: rgb(189, 189, 189);"></div>
                <div class="dots" (click)="change(2)" style="background: rgb(189, 189, 189);"></div>
                
            </div>

        </div>

        <div class="customer-success is-visible viewed" data-track-view="view_customer_success">
            <div class="text-container">
                <h2 class="section-heading-text">
                    ENGENEERING & CONSULTANCY
                </h2>
                <p class="section-text">
                    WWidurope provides ad hoc engineering solutions combining
                    industry-specific experience and consulting competence with
                    proactive local know-how as well as international standards and
                    codes
                </p>
            </div>
            <div class="image-container">
                <picture class="js-unveil is-loaded">
                    
                    <img 
                        alt="team "
                        src="../../..//public/assets/teammembers.png">
                </picture>
            </div>
            <div class="cta-section">
                <div class="cta-text-container">
                    <div class="section-heading-text">
                        Grow your business, anytime, anywhere.
                    </div>
                    <a href="/our-bussiness" class="main-cta" >
                        Our Projects
                    </a>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>