<app-header></app-header>
<section id="subbanner">
  <img src="../..//public/assets/partnersbanner.png" alt="">
  <div class="container">
      <div class="cont">
          <h5></h5>
          <h2>Partners</h2>
      </div>
  </div>
</section>
<div class="content-section">
  <h1 class="section-title">Our Partners</h1>
  <p class="section-description">
    As trusted partners in the engineering industry, we work closely with our partners to deliver tailored solutions across multiple sectors including mechanical, electrical, and civil engineering. Our experienced team uses state-of-the-art technology and innovative approaches to bring efficiency, precision, and quality to every project.
  </p>
</div>

<div class="client-lists logo-gallery">
  <div class="logo-gallery">
      <div class="logo-item">
          <img src="..//public/assets/partners/Picture1.jpg" alt="Picture1" class="product-logo">
      </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture2.jpg" alt="Picture2" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture3.jpg" alt="Picture3" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture4.jpg" alt="Picture4" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture5.gif" alt="Picture5" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture6.jpg" alt="Picture6" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture7.jpg" alt="Picture7" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture8.gif" alt="Picture8" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture9.jpg" alt="Picture9" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture10.jpg" alt="Picture10" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture11.png" alt="Picture11" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture12.png" alt="Picture12" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture13.png" alt="Picture13" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture14.png" alt="Picture14" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture15.png" alt="Picture15" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture16.png" alt="Picture16" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture17.jpg" alt="Picture17" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture18.png" alt="Picture18" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture19.gif" alt="Picture19" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture20.png" alt="Picture20" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture21.jpg" alt="Picture21" class="product-logo">
    </div>
  </div><div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture22.png" alt="Picture22" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture23.png" alt="Picture23" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture24.png" alt="Picture24" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture25.png" alt="Picture25" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture26.png" alt="Picture26" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture27.png" alt="Picture27" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture28.gif" alt="Picture28" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture29.jpg" alt="Picture29" class="product-logo">
    </div>
  </div>
  <div class="logo-gallery">
    <div class="logo-item">
        <img src="..//public/assets/partners/Picture30.png" alt="Picture30" class="product-logo">
    </div>
  </div>
  
</div>

  
<app-footer></app-footer>