<app-header></app-header>
<section id="subbanner">
  <img src="/assets/partnersbanner.png" alt="">
  <div class="container">
      <div class="cont">
          <h5></h5>
          <h2>Partners</h2>
      </div>
  </div>
</section>
<div class="content-section fadeInUp">
  <h1 class="section-title">Our Partners</h1>
  <p class="section-description">
    As trusted partners in the engineering industry, we work closely with our partners to deliver tailored solutions across multiple sectors including mechanical, electrical, and civil engineering. Our experienced team uses state-of-the-art technology and innovative approaches to bring efficiency, precision, and quality to every project.
  </p>
  <br>
  <p class="section-description">
    A wide range of services and systems for electro-mechanical, machineries, tools and spare parts as well as industrial equipment maintenance, engineering design.

  </p>
  <br>
  <p class="section-description">
    International manufacturers and consultants have entrusted our services and represent our portfolio of Partners from different industrial economic sectors. 

  </p>
</div>

<div class="client-lists fadeInUp">
  <div class="logo-item">
    <img src="/assets/partners/Picture11.png" alt="Partner Picture 10" class="product-logo">
    <p class="logo-name">De JONG Combustion</p>
    <p>The Netherlands</p>
    <p>Industrial Supplementary burners</p>
  </div>
  <div class="logo-item">
    <img src="/assets/partners/Picture10.jpg" alt="Partner Picture 11" class="product-logo">
    <p class="logo-name">Air clean Srl</p>
    <p>Italy</p>
    <p>Industrial Odor control systems</p>
  </div>
  <div class="logo-item">
    <img src="/assets/partners/Picture34.png" alt="Partner Picture 16" class="product-logo">
    <p class="logo-name">BLUTEK Srl</p>
    <p>Italy</p>
    <p>Engineered packages for Instrument Air and Nitrogen generators</p>
  </div>
  <div class="logo-item">
    <img src="/assets/partners/Picture31.jpg" alt="Partner Picture 31" class="product-logo">
    <p class="logo-name">DB services Srl</p>
    <p>Italy</p>
    <p>Machines & Turbines</p>
  </div>
  <div class="logo-item">
    <img src="/assets/partners/Picture32.jpg" alt="Partner Picture 32" class="product-logo">
    <p class="logo-name">Di NUOVO FELICI Engineering</p>
    <p>Italy/UAE</p>
    <p>Design Engineering & Consultancy</p>
  </div>
  <div class="logo-item">
    <img src="/assets/partners/Picture33.png" alt="Partner Picture 33" class="product-logo">
    <p class="logo-name">fugazzi & partnerens</p>
    <p>Italy</p>
    <p>Global Consulting</p>
  </div>
  <div class="logo-item">
    <img src="/assets/partners/Picture35.png" alt="Partner Picture 33" class="product-logo">
    <p class="logo-name">PROMETHEUS PRO LLC</p>
    <p>Italy/UAE</p>
    <p>Energy engineering</p>
  </div>
</div>


  
<app-footer></app-footer>