<app-header></app-header>
<div class="features__section features-intro">
    <div class="features__content">
        <h1 class="features__title">WHO WE ARE
            <br>...</h1>
        <p class="features__desc">We are consultants, engineers, designers, and architects who enable our customer to be competitive and create value in the marketplace through ad hoc engineering solutions.</p>

        <div class="features-animations-intro">

            <div class="features-rocket--mobile"></div>

            <div class="features-rocket">
                <div class="features-rocket__group">
                    <img class="features-rocket__ship" src="//cdn2.editmysite.com/images/landing-pages/global/features/Home/SVGs/rocket-ship.svg" alt="Rocketship Illustration">
                    <img class="features-rocket__wing-bottom" src="//cdn2.editmysite.com/images/landing-pages/global/features/Home/SVGs/rocket-wing_bottom.svg" alt="Rocketship Illustration">
                    <img class="features-rocket__wing-left" src="//cdn2.editmysite.com/images/landing-pages/global/features/Home/SVGs/rocket-wing_left.svg" alt="Rocketship Illustration">
                    <img class="features-rocket__wing-right" src="//cdn2.editmysite.com/images/landing-pages/global/features/Home/SVGs/rocket-wing_right.svg" alt="Rocketship Illustration">
                </div>

                <svg class="features-rocket__dust" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-284 171 43 451" style="enable-background:new -284 171 43 451;" xml:space="preserve">
                
                <style type="text/css">
                
                    .features-rocket__dust-path{fill:none;stroke:#C9CDCF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1,6.007;}
                </style>
                
                <g class="st0">
                    <g>
                        <g>
                            <path class="features-rocket__dust-path" d="M-244.3,621.4c-5.7-29.6-38.2-32.7-38.2-68c0-38.7,39-38.7,39-77.3s-39-38.7-39-77.3c0-38.7,39-38.7,39-77.3										c0-38.7-39-38.7-39-77.3c0-37,35.8-38.6,38.8-72.7"></path>
                        </g>
                    </g>
                </g>
                </svg>
                <svg class="features-rocket__dust" width="42" height="453" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43 451" style="enable-background:new 0 0 43 451;" xml:space="preserve">
                
                <style type="text/css">
                
                    .features-rocket__dust-path{fill:none;stroke:#C9CDCF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1,6.007;}
                </style>
                
                <g class="st0">
                    <g>
                        <g>
                            <path class="features-rocket__dust-path" d="M2.4,449.4c5.7-29.6,38.2-32.7,38.2-68c0-38.7-39-38.7-39-77.3s39-38.7,39-77.3c0-38.7-39-38.7-39-77.3										c0-38.7,39-38.7,39-77.3c0-37-35.8-38.6-38.8-72.7"></path>
                        </g>
                    </g>
                </g>
                </svg>
            </div>

                <div data-scroll-speed="2" data-position="scroll-down" class="features-rocket__cards" style="transform: translateY(0px);"></div>
                <div data-scroll-speed="1" class="features-rocket__stars" style="transform: translateY(0px);"></div>
                
        </div>
    </div>
</div>
<div class="features__section features-creating">
    <div class="features-cloud-intro"></div> <!--cloud svg img-->

    <div class="features__content features-secondbox reveal-on-scroll" style="opacity: 1;">
        <h2 class="features__subtitle">We are consultants, engineers, designers, and architects who enable our customer to be competitive and create value in the marketplace through ad hoc engineering solutions</h2>
        <p class="features__desc">We work in collaboration with our customers to deliver innovative solutions that turn complex business challenges into real business opportunities.
            We combine industry-specific experience and consulting competence with proactive local know-how. 
            We bring the right players together and combining a long  track record of projects, we can provide our clients with a holistic approach to each opportunity. 
            </p>

            <h2 class="features__subtitle">DNF engineering Division</h2>
        <div class="features-list">
            <div class="features-animations is-showing">
                <img class="features-animations__img" src="..//public/assets/engineer.jpg" height="705" width="584" alt=" Desk - Builder">
            </div>
            <a data-svg="features-builder" class="features-item js-features-item ">
                <svg class="features-item__icon" width="57px" height="46px" viewBox="0 0 57 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.4.3 (16618) - http://www.bohemiancoding.com/sketch -->
                    <title>Energy</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Builder-Icon" sketch:type="MSArtboardGroup" fill="#000000">
                            <g sketch:type="MSLayerGroup">
                                <path d="M15,24 L23,24 L23,29 L15,29 L15,24 Z M13,22 L13,23 L13,30 L13,31 L14,31 L24,31 L25,31 L25,30 L25,23 L25,22 L24,22 L14,22 L13,22 Z" id="Fill-21" sketch:type="MSShapeGroup"></path>
                                <path d="M2,2 L55,2 L55,10 L2,10 L2,2 Z M55,44 L17,44 L17,33 L15,33 L15,44 L2,44 L2,12 L15,12 L15,20 L17,20 L17,12 L55,12 L55,44 Z M56,0 L1,0 L0,0 L0,1 L0,45 L0,46 L1,46 L56,46 L57,46 L57,45 L57,1 L57,0 L56,0 Z" id="Fill-22" sketch:type="MSShapeGroup"></path>
                                <path d="M11,5 L9,5 L9,7 L11,7 L11,5 Z" id="Fill-23" sketch:type="MSShapeGroup"></path>
                                <path d="M7,5 L5,5 L5,7 L7,7 L7,5 Z" id="Fill-24" sketch:type="MSShapeGroup"></path>
                                <path d="M52,5 L15,5 L15,7 L52,7 L52,5 Z" id="Fill-25" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <h2 class="features-list__title">Energy</h2>
                <span class="icon features-item__arrow"  (click)="toggleList($event, 0)">
                    <span class="fa fa-angle-right" [class.active]="isListVisible[0]"></span>
                </span>
                <ul class="box-ul">
                  <li [style.display]="isListVisible[0] ? 'block' : 'none'" class="features-list__desc">Conventional Energy Generation</li>
                  <li [style.display]="isListVisible[0] ? 'block' : 'none'" class="features-list__desc">Renewable Energies</li>
                  <li [style.display]="isListVisible[0] ? 'block' : 'none'" class="features-list__desc">Power Transmission and distribution</li>
                </ul>
            </a>

            <div class="features-animations">
                <img class="features-animations__img" src="//cdn2.editmysite.com/images/landing-pages/global/features/Home/PNGs/Creating-Green-Desk.png" alt="Features Desk - Ecommerce">
            </div>
            <a data-svg="features-ecommerce" class="features-item js-features-item" >
                <svg class="features-item__icon" width="51px" height="46px" viewBox="0 0 51 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.4.3 (16618) - http://www.bohemiancoding.com/sketch -->
                    <title>Infrastructures Icon</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Ecommerce-Icon" sketch:type="MSArtboardGroup" fill="#000000">
                            <g sketch:type="MSLayerGroup" id="Page-1">
                                <path d="M45,40.5 C45,42.433 43.433,44 41.5,44 C39.567,44 38,42.433 38,40.5 C38,38.567 39.567,37 41.5,37 C43.433,37 45,38.567 45,40.5 L45,40.5 Z M20,40.5 C20,42.433 18.433,44 16.5,44 C14.567,44 13,42.433 13,40.5 C13,38.567 14.567,37 16.5,37 C18.433,37 20,38.567 20,40.5 L20,40.5 Z M47.642,8 L41.74,27 L14.735,27 L10.175,8 L47.642,8 Z M42.477,29 L43.214,29 L43.432,28.297 L49.955,7.297 L50.358,6 L49,6 L9.695,6 L8.439,0.767 L8.255,0 L7.467,0 L0,0 L0,2 L6.678,2 L8,7.508 L8,8 L8.118,8 L14.674,35.317 C12.535,36.07 11,38.103 11,40.5 C11,43.538 13.462,46 16.5,46 C19.538,46 22,43.538 22,40.5 C22,39.17 21.528,37.951 20.743,37 L37.257,37 C36.472,37.951 36,39.17 36,40.5 C36,43.538 38.462,46 41.5,46 C44.538,46 47,43.538 47,40.5 C47,37.631 44.803,35.278 42,35.025 L42,35 L16.655,35 L15.215,29 L42.477,29 Z" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <h2 class="features-list__title">Ecommerce</h2>
                <span (click)="toggleList($event, 1)" class="icon features-item__arrow">
                    <span class="fa fa-angle-right" [class.active]="isListVisible[1]"></span>
                </span>
                <ul class="box-ul">
                    <li [style.display]="isListVisible[1] ? 'block' : 'none'" class="features-list__desc">Buildings</li>
                    <li [style.display]="isListVisible[1] ? 'block' : 'none'" class="features-list__desc">Infrastructures</li>
                    <li [style.display]="isListVisible[1] ? 'block' : 'none'" class="features-list__desc">Urban Developments</li>
                  </ul>
            </a>

            <div class="features-animations">
                <img class="features-animations__img" src="//cdn2.editmysite.com/images/landing-pages/global/features/Home/PNGs/Creating-Red-Desk.png" alt="Features Desk - Mobile Apps">
            </div>
            <a data-svg="features-mobile-apps" class="features-item js-features-item" >
                <svg class="features-item__icon" width="36px" height="53px" viewBox="0 0 36 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.4.3 (16618) - http://www.bohemiancoding.com/sketch -->
                    <title>Industry & Technology  Icon</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Mobile-Icon" sketch:type="MSArtboardGroup" fill="#000000">
                            <g sketch:type="MSLayerGroup" id="Group">
                                <g sketch:type="MSShapeGroup">
                                    <path d="M34,7 L2,7 L2,2 L34,2 L34,7 Z M34,39 L2,39 L2,9 L34,9 L34,39 Z M34,51 L2,51 L2,41 L34,41 L34,51 Z M34,0 L2,0 C0.89,0 0,0.894 0,2 L0,51 C0,52.103 0.895,53 2,53 L34,53 C35.11,53 36,52.106 36,51 L36,2 C36,0.898 35.105,0 34,0 L34,0 Z" id="Fill-27"></path>
                                    <path d="M12,29 L4,29 L4,37 L12,37 L12,29 Z" id="Fill-28"></path>
                                    <path d="M18,48 C19.105,48 20,47.105 20,46 C20,44.895 19.105,44 18,44 C16.895,44 16,44.895 16,46 C16,47.105 16.895,48 18,48" id="Fill-29"></path>
                                    <path d="M20,35 L16,35 L16,31 L20,31 L20,35 Z M22,29 L14,29 L14,37 L22,37 L22,29 Z" id="Fill-30"></path>
                                    <path d="M30,35 L26,35 L26,31 L30,31 L30,35 Z M32,29 L24,29 L24,37 L32,37 L32,29 Z" id="Fill-31"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <h2 class="features-list__title">Industry & Technology</h2>
                <span class="icon features-item__arrow" (click)="toggleList($event, 2)">
                    <span class="fa fa-angle-right" [class.active]="isListVisible[2]"></span>
                </span>
                <ul class="box-ul">
                    <li [style.display]="isListVisible[2] ? 'block' : 'none'" class="features-list__desc">Energy</li>
                    <li [style.display]="isListVisible[2] ? 'block' : 'none'" class="features-list__desc">Chemical and petrolchemical plants </li>
                    <li [style.display]="isListVisible[2] ? 'block' : 'none'" class="features-list__desc">Cement Factories</li>
                    <li [style.display]="isListVisible[2] ? 'block' : 'none'" class="features-list__desc">Industrial plants</li>
                  </ul>
            </a>
            <a data-svg="features-water" class="features-item js-features-item" >
                <svg class="features-item__icon" width="48px" height="48px" fill="#c9cdcf" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <title>Water Icon</title>
                    <desc>An icon representing water with a droplet and wave elements.</desc>
                    
                    <!-- Water droplet -->
                    <path d="M24 4C20 12 12 20 12 28C12 36 18 42 24 42C30 42 36 36 36 28C36 20 28 12 24 4Z"/>
                    
                    <!-- Water waves -->
                    <path d="M8 36C10.6667 34 15.3333 34 18 36C20.6667 38 25.3333 38 28 36C30.6667 34 35.3333 34 38 36" stroke-width="2" stroke-linecap="round"/>
                    <path d="M4 42C6.66667 40 11.3333 40 14 42C16.6667 44 21.3333 44 24 42C26.6667 40 31.3333 40 34 42C36.6667 44 41.3333 44 44 42"  stroke-width="2" stroke-linecap="round"/>
                  </svg>
                <h2 class="features-list__title">Water</h2>
                <span class="icon features-item__arrow" (click)="toggleList($event, 3)">
                    <span class="fa fa-angle-right" [class.active]="isListVisible[3]"></span>
                </span>
                <ul class="box-ul">
                    <li [style.display]="isListVisible[3] ? 'block' : 'none'" class="features-list__desc">Water Desalination</li>
                    <li [style.display]="isListVisible[3] ? 'block' : 'none'" class="features-list__desc">Water Storage and Distribution </li>
                    <li [style.display]="isListVisible[3] ? 'block' : 'none'" class="features-list__desc">Hydraulic and Marine Works</li>
                    <li [style.display]="isListVisible[3] ? 'block' : 'none'" class="features-list__desc">Hydraulic Infrastructure</li>
                  </ul>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>
