.page-title {
    text-transform: uppercase;
    color: #212121;
    font-size: 50px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #000;
}
* {
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page-title span {
}
.page-title small {
    line-height: 27px;
    font-size: 15px;
    text-transform: none;
    display: block;
    margin: 10px 0;
}
.sub-page .contents{
    line-height: 27px;
    font-size: 18px;
    text-transform: none;
    display: block;
    margin: 10px 0;
}
@media (max-width: 1050px) {
    .sub-page{
        padding: 40px 100px !important;
    }
}
@media (max-width: 600px) {
    .sub-page{
        padding: 35px 40px !important;
    }
}
.fadeInUp {
    visibility: hidden;
    /* animation-name: fadeInUp; */
}
.animated {
    visibility: visible;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media (max-width: 1150px) {
    .add-container {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        max-width: none !important;
    }
}